<h1><%= description %></h1>
<form action="/users/login" method="POST">
<div>
    <label for="email">Email : </label>
    <input type="text" name="email" placeholder="Enter email" />
</div>
<div>
    <label for="password">Password : </label>
    <input type="password" name="password" placeholder="Enter password" />
</div>
<div>
    <input type="submit" value="Login" />
</div>
</form>

<a href="/users/register">Register</a>
