<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <p><%= description %></p>
    <form action="/users/register" method="POST" >
        <div>
            <label for="name">Name :</label>
            <input type="text" placeholder="Enter Name" name="name" required />
        </div>
        <div>
            <label for="email">Email :</label>
            <input type="text" placeholder="Enter Email" name="email" required />
        </div>
        <div>
            <label for="password">Password :</label>
            <input type="password" placeholder="Enter Password" name="password" required />
        </div>
        <div>
            <label for="cpassword" >Confirm password :</label>
            <input type="cpassword" placeholder="Confirm password" name="cpassword" required />
        </div>
        <div>
            <input type="submit" value="Register" />
        </div>
    </form>
    <h3>Have an account already. <a href="/users/login">Login</a></h3>
</body>
</html>
